<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Spinning.core.Properties.Settings.BD_PESConnectionString"
            connectionString="Data Source=PS-YCARAZO;Initial Catalog=BD_PES;Persist Security Info=True;User ID=sa;Password=asdfghjk"
            providerName="System.Data.SqlClient" />
        <add name="Spinning.core.Properties.Settings.PS_PORTAL_PERSONALConnectionString"
            connectionString="Data Source=PS-YCARAZO;Initial Catalog=PS_PORTAL_PERSONAL;Persist Security Info=True;User ID=sa;Password=asdfghjk"
            providerName="System.Data.SqlClient" />
        <add name="Portal.core.Properties.Settings.LOCAL" connectionString="Data Source=PS-YCARAZO;Initial Catalog=PS_PORTAL_DE_PERSONAL;User ID=sa;Password=asdfghjk;Application Name=&quot;Portal de personal&quot;"
            providerName="System.Data.SqlClient" />
        <add name="Portal.core.Properties.Settings.PS_PORTAL_DE_PERSONALConnectionString"
            connectionString="Data Source=PS-YCARAZO;Initial Catalog=PS_PORTAL_DE_PERSONAL;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Portal.core.Properties.Settings.PS_PORTAL_DE_PERSONALConnectionString1"
            connectionString="Data Source=PS-YCARAZO;Initial Catalog=PS_PORTAL_DE_PERSONAL;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Portal.core.Properties.Settings.PS_PORTAL_DE_PERSONALConnectionString2"
            connectionString="Data Source=LOCALHOST;Initial Catalog=PS_PORTAL_DE_PERSONAL;Persist Security Info=True;User ID=sa;Password=asdfghjk"
            providerName="System.Data.SqlClient" />
        <add name="Portafolio.core.Properties.Settings.LOCAL" connectionString="Data Source=LOCALHOST;Initial Catalog=PRODUSOFT;Persist Security Info=True;User ID=sa;Password=asdfghjk"
            providerName="System.Data.SqlClient" />
        <add name="Taller.core.Properties.Settings.LOCAL" connectionString="Data Source=localhost;Initial Catalog=PS_TALLER;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Taller.core.Properties.Settings.PS_TALLERConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=PS_TALLER;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Plantilla.core.Properties.Settings.LOCAL" connectionString="Data Source=localhost;Initial Catalog=PS_TALLER;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Plantilla.core.Properties.Settings.PS_TALLERConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=PS_TALLER;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Plantilla.core.Properties.Settings.PS_H2H_BANCOConnectionString"
            connectionString="Data Source=192.168.2.11;Initial Catalog=PS_H2H_BANCO;User ID=SA;Password=$Grup0S3ar$"
            providerName="System.Data.SqlClient" />
        <add name="Plantilla.core.Properties.Settings.PS_H2H_BANCOConnectionString1"
            connectionString="Data Source=192.168.2.11;Initial Catalog=PS_H2H_BANCO;Persist Security Info=True;User ID=SA;Password=$Grup0S3ar$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
